$navbarText:                      white !default;
$navbarLinkColor:                 #EC1B23;
$navbarLinkColorHover:            #FFC250;
$navbarLinkColorActive:           #FFC250;
$navbarLinkBackgroundActive:      #000;
$navbarBackgroundHighlight: #000; 
$navbarBackground: rgb(109, 51, 83);
@import "bootstrap";

/* mixins, variables, etc. */ 
$grayMediumLight: #eaeaea;
@mixin box_sizing { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 180px;
	background-color: #fff;
  	color: #333;
  	font-family: verdana, arial, helvetica, sans-serif;
  	font-size: 13px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1 {
	margin-bottom: 10px;
	background-color: grey;
	padding: 10px;
	background-image: linear-gradient(to bottom, #C4C0C4, #D9DADB);
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: gray ;
    text-decoration: none;
  }
}

section {
	overflow: auto;
}

/* header */

.header-top{
  background: url('main/cc_logo.png') no-repeat;
  background-position: 40px 10px;
  background-color: $navbarBackgroundHighlight;
  position: relative;
  min-height: 180px;
}

.navbar{
  margin-top: 125px;
  margin-right: 50px;
  float: right;
}

ul.nav>li{
  padding: 0px !important;
  margin: 0px;
}

header a.active {
  padding: 0px 10px !important;
  border-left: 1px solid #FFC250 !important;
  color: #FFC250 !important;
  margin: 0px;
}
header a:hover{
  padding: 0px 10px !important;
  border-left: 1px solid #FFC250 !important;
  color: #FFC250 !important;
  margin: 0px;
}

header a{
  padding: 0px 10px !important;
  border-left: 1px solid #EC1B23;
  font: helvetica sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 13px;
}

.last-link{
  border-right: 1px solid #EC1B23;
  border-left: 1px solid #EC1B23;
}

.last-link:hover, .last-link-active{
  border-right: 1px solid #FFC250 !important;
  border-left: 1px solid #FFC250;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea; 
  color: #999;
}
footer a { 
  color: #555;
  border: none;
}
footer a:hover { 
  color: #222;
  border: none !important;
}
footer small { 
  float: left;
}
footer ul {
  float: right; 
  list-style: none;
}
footer ul li { 
  float: left; 
  margin-left: 10px;
}

/* forms */

.input-xsm {
	width:50px;
}

.input-sm {
	width:70px;
}

.input-lrg{
	width:280px;
}

.input-med{
	width:120px;
}

input, textarea, select, .uneditable-input { 
	border: 1px solid #bbb;
	/*width: 100%;*/
	padding: 5px;
	height: auto;
	color: black;
}

textarea {
	resize: vertical;
}

.field {
	margin-right:10px;
	a{
		margin-bottom:10px !important;
	}
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

/* rails form errors*/

.alert-error {
	padding:4px 10px !important;
  width: 150px;
	vertical-align: middle !important;
}

.field_with_errors { 
	@extend .control-group; 
	@extend .error;
	color: #cd0a0a;
  input{
    border-color: #cd0a0a !important;
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#notice {
  padding-left: 10px;
  background-color: #dff0d8;
  color: green;
}

/* general classes */

.center { 
	text-align: center !important;
	h1 { 
	margin-bottom: 10px;
	}
}

.inline {
	display: inline-block !important;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%; 
  margin-top: 45px; 
  @include box_sizing;
}

/* custom bootstrap */
.btn-danger, .btn-success, .btn-info {
	color: white !important;
  min-width: 40px;
}

