<header >
	<div class = "navbar-fixed-top">
		<div class = "header-top" >
			<div class="navbar navbar-inner">
				<ul class="nav pull-right">
					<li class = "<%= current_page?(root_path) ? "active" : "" %> first-link" >
						<%= link_to "Home", root_path %>
					</li>
					<li class = <%= active_link("items") %> >
						<%= link_to "Items", root_path %>
					</li>
				</ul>
			</div>
        </div>
	</div>
</header>